    @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
    /*font-family: 'Vollkorn', serif;*/
    
    @import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
    /*font-family: 'Crete Round', serif;*/
    
    @font-face {
        font-family: fontawesome-webfont;
        src: url(assets/fonts/fontawesome-webfont.eot);
        /* IE */
        src: url(assets/fonts/fontawesome-webfont.svg);
        /* Legacy iOS */
        src: url(assets/fonts/fontawesome-webfont.ttf);
        /* Safari, Android, iOS */
        src: url(assets/fonts/fontawesome-webfont.woff);
        /* Modern Browsers */
        src: url(assets/fonts/fontawesome-webfont.woff2);
        /* Modern Browsers */
    }
    
    @font-face {
        font-family: glyphicons-halflings-regular;
        src: url(assets/fonts/glyphicons-halflings-regular.eot);
        /* IE */
        src: url(assets/fonts/glyphicons-halflings-regular.svg);
        /* Legacy iOS */
        src: url(assets/fonts/glyphicons-halflings-regular.ttf);
        /* Safari, Android, iOS */
        src: url(assets/fonts/glyphicons-halflings-regular.woff);
        /* Modern Browsers */
        src: url(assets/fonts/glyphicons-halflings-regular.woff2);
        /* Modern Browsers */
    }
    
    @font-face {
        font-family: icon-font;
        src: url(assets/fonts/icon-font.eot);
        /* IE */
        src: url(assets/fonts/icon-font.svg);
        /* Legacy iOS */
        src: url(assets/fonts/icon-font.ttf);
        /* Safari, Android, iOS */
        src: url(assets/fonts/icon-font.woff);
        /* Modern Browsers */
        src: url(assets/fonts/icon-font.woff2);
        /* Modern Browsers */
    }
    
    html,
    body {
        margin: 0;
        width: 100%;
        max-height: 100vh;
        box-sizing: border-box;
        background-color: rgba(238, 238, 238);
        
    }
    
    .main-grid {
        max-width: 100%;
        height: 100vh;
        display: grid;
        grid-template: "header header" 17vh " about-us aside" 58vh "our-companies aside" 25vh "traks aside" 2fr " docs aside" 3fr "footer footer" 1fr /78% 22%;
        row-gap: 10px;
        box-sizing: border-box;
    }   
    
    .header {
        grid-area: header;
    }
    
    .count, .partners, .review, .reviw-items {
        grid-area: aside;
    }
    
    .about-us {
        grid-area: about-us;
    }
    
    .traks {
        grid-area: traks;
    }
    
    .docs {
        grid-area: docs;
    }
    
    .our-companies {
        grid-area: our-companies;
    }
    
    .map {
        grid-area: map;
    }
    
    .footer {
        grid-area: footer;
    }
    /*styles*/
    
    
    
    button {
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(7, 112, 160);
    }
    
    .header {
        height: 9vh;
        display: flex;
        align-content: flex-start;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(rgba(201, 138, 56, 0.719), rgba(96, 208, 212, 0.479));
        margin-bottom: 50px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 15px;
    }
    
    .header>img {
        max-width: 100px;
        margin-top: 50px;
    }
    
    .header a button {
        min-width: 100px;
        min-height: 50px;
        border: none;
        border-radius: 10px;
        color: khaki;
        font-weight: bold;
        padding: 10px;
        font-size: 1vw;
    }
    
    button:hover {
        transition-duration: 0.3s;
        transform: translateY(-5px);
        box-shadow: 1px 4px rgb(160, 160, 160);
        background-color: rgb(29, 154, 192)
    }
    
    /*main-titles*/
    
    .header>div {
        max-width: 50vh;
        max-height: 10vh;
        font-size: 1.6vw;
        color: rgb(146, 106, 31);
        font-weight: bolder;
        text-align: center;
        text-shadow: 1px 1px rgba(147, 150, 118, 0.773);
    }
    /*about-us*/
    
    .about-us {
        background-image: url(assets/img/header-img_cr.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        filter: brightness(1.2);
        max-height: 100%;
        max-width: 100%;
        margin-top: 2wh;
        color: grey;
        text-align: center;
    }
    
    .about-us div:first-child {
        color: darkslategray;
    }
    
    .about-us>div {
        margin-top: 50px;
        font-size: 1.6vw;
        padding: 15px;
        color: rgb(8, 44, 33);
    }

    h1,
    h3 {
        font-family: 'Crete Round', serif;
        font-size: 5vw;
        color: rgb(3, 94, 136);
        text-shadow: 2px 1px rgba(255, 153, 0, 0.4);
        margin-top: 25px;
        margin-bottom: 10px;
        align-items: center;
    }
    
    h3 {
        font-family: 'Vollkorn', serif;
        color: rgb(197, 125, 31);
        font-size: 3vw;
        margin-top: 9vw;
    }
    
    h4 {
        max-width: 100%;
        font-family: 'Vollkorn', serif;
        color: rgb(197, 125, 31);
        font-size: 2vw;
        padding: 0 20px;
        margin-top: 5vw;
        text-shadow: 2px 2px rgb(35, 98, 139);
    }

/*our companies*/
    
.our-companies {
    display: flex;
    max-width: 100%;
    min-height: 150px;
    flex-wrap: wrap;
    flex-flow: row;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    z-index: 0;
}

.our-companies-map {
    width: 100%;
    height: 160px;
    background-image: url(assets/img/ouer-partners-map_cr.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.our-companies-item {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    text-align: center;
    font-size: 1vw;
}

.our-companies-item>div {
    width: 13vw;
    font-weight: bold;
    color: rgb(8, 59, 8);
}
    /*traks*/
.traks>div {
    padding-top: 1.5vw;
}
.traks div:first-child {
    padding-top: 0;
}

ul {
    display: inline-block;
    font-size: 1.5vw;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.traks {
    font-size: 1.5vw;
    text-align: justify;
    padding: 30px;
}

.eu {
    font-weight: bold;
    color: rgb(3, 94, 136);
}

.as {
    font-weight: bold;
    color: rgb(3, 94, 136);
}
/*our docs*/

.docs {
    display: flex;
    justify-content: space-around;
    align-self: center;
    max-width: 100%;
    min-width: 25%;
}

a[target="_blank"]>img {
    width: 200px;
    max-width: 95%;
    background-color: blanchedalmond;
    padding: 5px;
    border: 1px solid orange;
    box-shadow: 2px 3px gray;
}
    

/*aside*/

.aside {
    width: 95%;
    max-height: calc(100vh -  25vh - 180px);
    display: flex;
    flex-direction: column;
    
}
.aside>div {
    margin-bottom: 10px;
}

/* Count-Form*/

.count {
    max-width: 95%;
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    border: 2px grey solid;
    border-radius: 5px;
    background-image: linear-gradient(rgba(117, 216, 255, 0.425), rgba(201, 138, 56, 0.719));
    box-sizing: border-box;
    color: rgb(146, 106, 31);
}

.count-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    padding: 10px;
}

.count-form>label {
    font-size: 1vw;
    font-weight: bold;
    color: rgb(85, 88, 88);
}

.count-form>input {
    min-width: 95%;
    max-width: 30%;
    font-size: 1vw;
    color: rgb(150, 151, 151);
    padding: 5px;
    border-radius: 5px;
}
    
.count-form>button {
    display: inline-block;
    align-self: center;
    border: none;
    background-color: rgb(146, 106, 31);
    color: khaki;
    border-radius: 10px;
    width: 150px;
    max-width: 150px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 1vw;
    font-weight: bold;
    max-width: 10vw;
    padding: 10px;
}

.count-form>button:hover {
    background-color: rgb(29, 154, 192);
    transform: scale3d(1.1);
    box-shadow: floralwhite;
}
/* aside partners*/

.partners-img {
    display: block;
    max-width: 95%;
    max-height: 70vh;
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px grey solid;
    border-radius: 5px;
    background-image: linear-gradient(rgba(117, 216, 255, 0.425), rgba(201, 138, 56, 0.719));
    box-sizing: border-box;
}

.partners-img-header {
    font-weight: bold;
    color: rgb(146, 106, 31);
    text-align: center;
    margin: 2vh 10vh 2vh 10vh;
    font-weight: bold;
}

.partners-img>img {
    align-items: center;
    max-height: 5%;
    max-width: 25%;
    padding: 5px;
    border: 1px grey solid;
}
/*review*/

.review {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    color: grey;
    font-size: 1.4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
    border: 2px grey solid;
    border-radius: 5px;
    background-image: linear-gradient(rgba(117, 216, 255, 0.425), rgba(201, 138, 56, 0.719));
    box-sizing: border-box;
    padding-bottom: 10px;
}

.reviw-header {
    max-width: 95%;
    color: grey;
    font-size: 1vw;
}

.review-form {
    max-height: 100%;
    max-width: 100%;
    justify-self: left;
    margin-top: 10px;
}

#text-area,
.review-form div>input {
    border: none;
    border-radius: 5px;
    max-width: 90%;
    font-size: 1vw;
    color: gray;
    padding: 10px;
    box-sizing: border-box;
}

.review-form div>button {
    display: inline-block;
    align-self: center;
    border: none;
    background-color: rgb(146, 106, 31);
    color: khaki;
    border-radius: 10px;
    width: 150px;
    max-width: 20%;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 1vw;
    font-weight: bold;
    max-width: 10vw;
    padding: 10px;
}

.review-form div>button:hover {
    background-color: rgb(29, 154, 192);
    box-shadow: floralwhite;
}

.reviw-items {
    min-height: calc(100vh - 50vh - 180px);
    max-width: 95%;
    border: 1px double orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8vw;
    text-align: center;
    padding: 10px 20px;
    border: 2px grey solid;
    border-radius: 20%;
    margin: 10px;
    white-space: wrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(117, 216, 255, 0.425), rgba(201, 138, 56, 0.719));
}

.reviw-item-header {
    font-weight: bold;
    color: rgb(146, 106, 31);
    font-size: 1.4vw;
    
}
.reviw-items>div:not(div:first-child) {
    padding: 5px;
    color: #4e4b4b;
    font-style: italic;
}


/*Footer*/

.footer {
    height: 10vw;
    min-height: 5vh;
    max-width: 100%;
    display: grid;
    grid-template: "footer-signs cont-head" "footer-signs cont-tel" "footer-signs cont-email" "footer-signs footer-adress" "baseline baseline";
    font-size: 1.2vw;
    align-items: end;
    background-image: linear-gradient( rgba(96, 208, 212, 0.479), rgba(201, 138, 56, 0.719));
}

.footer-signs {
    grid-area: footer-signs;
}

.cont-head {
    grid-area: cont-head;
    margin: auto;
}

.cont-tel {
    grid-area: cont-tel;
        display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.cont-email {
    grid-area: cont-email;
}

.footer-adress {
    grid-area: footer-adress;
}

.footer-signs {
    width: 7vw;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    filter: grayscale(1);
    opacity: 0.7;
    box-sizing: border-box;
}

.footer-signs>img {
    width: 75px;
    max-width: 95%;
    align-self: end;
}

.baseline {
    grid-area: baseline;
    align-items: center;
}
/*baseline*/

.baseline {
    min-height: 30px;
    max-width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: black;
    color: blanchedalmond;
    
}

.cont-email::before {
    content: "написать письмо: ";
    color: grey;
}

.cont-phone::before {
    content: "связаться с консультантом: ";
    color: grey;
}

.footer-adress::before {
    content: "юридический и почтовый адрес: ";
}